.styledLinkContent--menu-header {
	color: #fff;
	padding-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
	cursor: default;
}

.styledLinkContent--menu-footer {
	font-size: 14px;
	color: #fff;
	opacity: 0.8;
	padding: 4px 0;
	font-weight: normal;
	white-space: inherit;
}
